.container
  %h3
    = render partial: 'breadcrumb', locals:{ current_folder: @parent_folder }
.container
  = form_for(@folder, as: :folder, url: folders_path(@folder)) do |f|
    = f.label :New_Folder_Name
    = f.text_field :name, autofocus: true
    = f.hidden_field :parent_folder_id, value: @parent_folder.id
    = f.submit "Create", class: 'btn btn-primary'
