.jumbotron
  .container
    %h2.glyphicon.glyphicon-folder-close
      = @parent_folder.name
    = form_for(@folder, as: :folder, url: folders_path(@folder)) do |f|
      = f.label :Name
      = f.text_field :name, autofocus: true
      = f.hidden_field :parent_folder_id, value: @parent_folder.id
      = f.submit "Create", class: 'btn btn-primary'
